.content {
    background-image: url('./../../assets/img/backgorund.jpg');
    width: 100%;
    background-size: cover;
    background-repeat: repeat-y;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 64px;
}

.image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 30px;
    /* background-size: cover; */
}

h1{
    text-align: center;
}